.photoContainer {
    bottom: 10px;
    left: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}

.centerContainer {
    display: grid;
    flex-direction: column;
}